@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;700&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(8, 49, 61);
}

* {

    box-sizing: border-box;
    outline: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
   display: block;
   width: 100%;
   margin-bottom: 10px;
}

form input {
   padding: 10px;
   font-size: 18px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

div table td {
    width: 25%;
}

div table th {
    text-align: left;
}

.error {
    background: red;
    padding: 6px;
}

.success {
    background: rgb(22, 226, 165);
    padding: 6px;
}